h4, h5, h6, p, #recipeText {
    font-family: 'Roboto', sans-serif !important;
    color: #282c34 !important;
    font-size: 1,5em !important;
}

h1, h2, span {
    font-family: "Rock Salt", cursive !important;
    
}

a.link {
    font-family: 'Roboto', sans-serif !important;
    
}

#collection, .categories {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#card {
    width: 30%;
    text-align: center;
}

#collection, #card {
    background-color: lightgray;
}

#recipe {
    border: 2px solid rgb(209, 37, 37);
}

#recipeGrid {
    background-color:lightgray;;
}

#recipeCard {
    background-color: white;
    border: 2px solid rgb(209, 37, 37);
    width: 50%;
    color: #282c34;
    margin: 5% 25%;
    
}

#pic {
    width: 60%;
    margin: 5%;
}
